.DS_Store

shaders/textures/Library/*
shaders/textures/Logs/*
shaders/textures/Temp/*

final_project/Final Project/.vsconfig
final_project/Final Project/Library/*
final_project/Final Project/Logs/*
final_project/Final Project/Temp/*
final_project/GVR Project/Library/*
final_project/GVR Project/Logs/*
final_project/GVR Project/Temp/*
